body {
   background: gainsboro;

   .container {
      margin-top: 7rem;
      padding: 1rem;
      text-align: center;
   }
}

.ui.menu {
   .avatar {
      img {
         border: 1px solid grey;
      }
   }

   .search.item {
      flex-grow: 1;
   }
}

.right.menu.slide {
   .item {
      width: 0;
      overflow: hidden;
      padding: 0;
      transition: all 0.1s ease-in-out;

      &.open {
         width: auto;
         min-width: 50px;
         overflow: visible;
         padding: 1rem;
      }

      &.remove {
         color: darken(tomato, 30%);
         justify-content: center;
      }
   }
}

.item {
   &:hover {

      .angle.down,
      .plus {
         animation: bounce 1s both;
      }
   }

   .spin {
      animation: spin 1s;
   }

   >.icon {
      cursor: pointer;
   }
}

